html, body {
    margin: 0;
    padding: 0.5rem;
}

body {
    font-size: 1rem;
    background: #fff;
}

h1 {
    margin: 0 0 1rem 0;
}

#status {
    color: #666;
    font-family: monospace;
}

input, button, code, p {
    font-size: inherit;
}

