<header>
  <a href="index.html" id="close" data-icon="close" data-action="close">
    <span class="visuallyhidden">{{ _('Close') }}</span>
  </a>
  <h1>{{ _('Sign In') }}</h1>
</header>
<main id="login_container" class="fit scroll">
  <form name="login" class="AuthForm" id="login" method="post">
    <p class="AuthForm-description">
      {{ _('An account lets you answer questions, track contributions and receive alerts.') }}
    </p>
    <ul class="ErrorList ErrorList--auth" id="login_errors"></ul>
    <div>
      <input type="text" name="username" id="username" placeholder="Username">
      <ul class="ErrorList ErrorList--auth ErrorList--field" id="username_errors"></ul>
    </div>
    <div>
      <input type="password" name="password" id="password" placeholder="Password">
      <ul class="ErrorList ErrorList--auth ErrorList--field" id="password_errors"></ul>
    </div>
    <p class="AuthForm-description">
      <a class="ForgotPasswordLink" href="password_reset.html" data-modal="true">{{ _('Forgot your password?') }}</a>
    </p>
    <button class="recommend" type="submit" form="login">{{ _('Sign In') }}</button>
    <hr>
    <a class="bb-button" href="registration.html" data-icon="forward" data-modal="true">{{ _("Don't have an account? Register") }}</a>
  </form>
</main>
