<section role="region">
  <header>
    <h1>Confirm Account</h1>
  </header>
</section>
<main id="email_confimation_container" class="EmailConfirmationMessage fit scroll">
  <p>Yay, you're almost done!</p>
  <p>
    We've sent a welcome email to:
    <br /><strong id="success_email"></strong>
  </p>
  <p>
    Click on the link in your email to let us know that it made it to the right place. After that, return to BuddyUp and make other users happy!
  </p>
  <div class="gaia-footer gaia-footer--pinned">
    <button class="danger" id="cancel_button">Cancel Sign Up</button>
  </div>
</main>