<header>
  <a href="index.html" id="close" data-icon="close" data-action="close">
    <span class="visuallyhidden">{{ _('Close') }}</span>
  </a>
  <h1>{{ _('Reset Password') }}</h1>
</header>
<main id="pw_reset_container" class="vbox fit scroll">
  <form class="AuthForm fit" name="pw_reset" id="pw_reset" method="post">
    <p class="AuthForm-description">
      {{ _("Forgot your password? Don't worry. Enter your username below and we'll send you instructions for setting a new one.") }}
    </p>
    <ul class="ErrorList ErrorList--auth" id="pw_reset_errors"></ul>
    <div>
      <input type="text" name="username" id="username" placeholder="{{ _('Username') }}">
    </div>
    <div class="gaia-footer">
      <button class="recommend" type="submit" form="pw_reset">{{ _('Reset Password') }}</button>
    </div>
  </form>
  <div class="AuthForm fit hide" id="success_message">
    <p class="AuthForm-description">
      {{ _("We've sent you an email. Just follow the link in the email to reset your password.") }}
    </p>
    <div class="gaia-footer gaia-footer--pinned">
      <a href="index.html" class="bb-button recommend" data-action="close">{{ _('OK') }}</a>
    </div>
  </div>
</main>
