<header>
  <button id="back" data-icon="back-light" data-action="back">
    <span class="visuallyhidden">{{ _('Close') }}</span>
  </button>
  <menu type="toolbar">
    <a href="profile.html" id="settings" class="settings-icon" data-icon="settings" data-modal="true">
      <span class="visuallyhidden">{{ _('Settings') }}</span>
    </a>
  </menu>
  <h1 id="main_heading">{{ _('My Questions') }}</h1>
</header>
<main class="fit scroll">
  <section id="myquestions" class="questions all" data-all="true"></section>
</main>
