* {
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
body,
textarea {
  font-family: 'Fira Sans';
}
main {
  position: relative;
  scroll-behavior: smooth;
}

/* Makes the vertical boxes scrollable */
.vbox {
  min-height: 0;
}
