@font-face {
    font-family: "gaia-icons";
    src: url("../media/fonts/gaia-icons.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans';
}
header {
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    font-weight: 300;
}
.intro {
    padding: .2rem 1rem;
}
.questions,
.help-articles {
    margin-top: 1rem;
}
.questions.all {
    margin-top: 0;
}
.questions h2,
.top-helpers h2,
.help-articles h2 {
    background-color: gray;
    color: white;
    margin: 0;
    padding: .2rem 1rem;
}
.top-helpers ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}
.top-helpers li {
    display: inline;
}
.top-helpers a:link,
.top-helpers a:visited {
    display: inline-block;
    background-color: #edecec;
    margin-left: 1rem;
    border-radius: 30px;
    width:55px;
    height: 55px;
}
/* lists */
[data-type="budyup-list"] a:link,
[data-type="budyup-list"] a:visited {
    display: inline-block;
    color: #333;
    padding: .7rem 1rem;
    border-top: 1px solid #edecec;
    width: 100%;
    text-decoration: none;
}
/* buttons */
button {
    cursor: pointer;
    font-size: 1rem;
}
.button-blue,
.button-gray {
    display: block;
    padding: .7rem;
    border: 1px solid #333;
    text-align: left;
    width: 100%;
}
.button-blue {
    background-color: #0095DD;
    color: white;
}
.button-gray {
    background-color: #edecec;
}
.button-gray:link,
.button-gray:visited {
    color: #333;
    text-decoration: none;
}
.my-favourites {
    border-top: 0;
}
.my-favourites:before {
    float: right;
}
/* icons */
[data-icon]:before {
    font-family: "gaia-icons";
    content: attr(data-icon);
    text-rendering: optimizeLegibility;
}
[data-icon-after]:after {
    float: right;
    font-family: "gaia-icons";
    content: attr(data-icon-after);
    text-rendering: optimizeLegibility;
}
.icon-back {
    display: inline-block;
    background: transparent url(building_blocks/headers/images/icons/) 0 0 no-repeat;
}
/* footer */
footer button:hover {
    cursor: pointer;
}
footer input + button[type="reset"] {
    position: absolute;
    top: 0px;
    right: -0.3rem;
    background: transparent url('building_blocks/input_areas/images/clear.png') 50% 50% no-repeat;
    width: 4rem;
    height: 4rem;
    padding: 0px;
    border: medium none;
    font-size: 0px;
    opacity: 0;
    pointer-events: none;
}
form input:focus + button[type="reset"] {
    right: 2rem;
    opacity: 1;
    pointer-events: all;
}
footer .send {
    display: inline-block;
    background: none;
    margin: 0;
    border: 0;
    width: 10%;
    vertical-align: middle;
}
footer .send [data-icon]:before {
    font-size: 3.5rem;
}
form[name="submit"] {
    position: relative;
}
/* utils */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.no-border {
    border: 0;
}
/* overrides */
input[type="text"] {
    display: inline-block;
    margin: 0;
    border: 0;
    width: 85%;
}
section[role="region"] > header:first-child a.back-link {
    position: absolute;
    top: 0;
    color: white;
    min-width: 4rem;
}
section.skin-organic[role="region"] > header:first-child,
.skin-organic section[role="region"] > header:first-child {
    background-color: gray;
    color: white;
    border-bottom: 1px solid #333;
}
section.skin-organic section[role="region"] > header:first-child h1,
.skin-organic section[role="region"] > header:first-child h1 {
    color: white;
    padding: 0;
    font-size: 1.7rem;
    font-style: normal;
    text-align: inherit;
}
.gaia-footer {
    padding: 0;
}
