@import 'base.css';
@import 'lists.css';
@import 'buttons.css';
@import 'icons.css';
@import 'animations.css';
@import 'utils.css';

.intro {
    padding: .2rem 1rem;
}
.questions {
    margin-top: 1rem;
}
.questions.all {
    margin-top: 0;
}
.questions h2,
.profile h2 {
    background-color: gray;
    color: white;
    margin: 0;
    padding: .2rem 1rem;
}
.no-data {
    margin: 1rem;
}
/* profile */
.profile fieldset {
    font-size: 1rem;
}
.profile fieldset.user {
    padding: 0 1rem;
}
.profile h2 {
    padding: .7rem 1rem;
}
.profile .count:before {
    padding-right: .5rem;
}
.profile label.pack-switch {
    width: 95%;
    height: auto;
}
.profile label.pack-switch input ~ span:after {
    top: 29%;
    right: -7%;
}
.achievements li {
    margin-top: 1.2rem;
}
.notifications ul {
    padding: 1rem 1rem 0;
}
.notifications li {
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
    height: 3.2rem;
}
.question-filters section {
    padding: 1rem;
}
.question-filters p,
.question-filters select {
    margin-bottom: 1rem;
}
.question-filters label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.15rem;
}
.question-filters select {
    padding: .5rem;
    width: 100%;
    font-size: 1rem;
}
/* ask a question */
.thread-introduction {
    display: flex;
    flex-flow: row-reverse;
    margin-top: 30%;
}
.thread-introduction p:first-child {
    padding: 1rem;
    align-self: center;
    flex: 1 1 60%;
}
.thread-introduction .ask {
    padding: 1rem;
    flex: 1 1 40%;
}
.question-thread {
    padding: 0 1rem;
}
.question-thread h3 {
    font-size: .9rem;
    font-weight: normal;
}
.questions-cat {
    text-transform: uppercase;
}
.discuss li {
    display: flex;
    flex-flow: row;
    margin-top: .8rem;
    margin-left: 1.5rem;
}
.discuss li.helper-comment {
    margin-right: 1.5rem;
    margin-left: 0;
}
.discuss .avatar {
    flex: 1 0 10%;
    align-self: center;
    text-align: center;
}
.message {
    display: inline-block;
    flex: 1 0 85%;
    background-color: #EDECEC;
    padding: .7rem .9rem;
    border-radius: 6px;
}
.comment-meta,
.vote {
    font-size: .8rem;
}
.comment-meta {
    width: 60%;
}
.vote {
    display: inline-block;
    width: 25%;
    text-align: right;
}
.vote:before {
    margin-right: .3rem;
    font-size: .8rem;
}
/* footer */
footer button:hover {
    cursor: pointer;
}
footer input[type="text"] {
    padding: .8rem;
    border: none;
    font-size: 1rem;
}
footer button {
    background-color: #edecec;
    border: none;
    width: 13%;
    font-size: 2rem;
}
[aria-hidden="true"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* overrides */
form[role="dialog"][data-type="confirm"] p {
    font-size: 1rem;
    line-height: 1.7;
}
.bb-tablist[data-type="filter"] > li > a {
    font-style: normal;
}
.skin-organic section[role="region"] > header:first-child a {
    position: absolute;
    top: 0;
    color: white;
    min-width: 3rem;
    font-style: normal;
}
section.skin-organic[role="region"] > header:first-child,
.skin-organic section[role="region"] > header:first-child {
    background-color: gray;
    color: white;
    border-bottom: 1px solid #333;
}
section.skin-organic section[role="region"] > header:first-child h1,
.skin-organic section[role="region"] > header:first-child h1 {
    color: white;
    padding: 0;
    font-size: 1.5rem;
    font-style: normal;
    text-align: inherit;
}
