.Comment {
    border-radius: 15px;
    box-shadow: 2px 2px 2px #b5b5b5;
    margin: 10px;
    overflow: hidden;
    width: calc(100% - 35px);
}

.Comment--helpee {
    align-self: flex-end;
    background: #f6f6f6;
    border-top-right-radius: 0;
    color: #4d4d4d;
}
.Comment--helper {
    align-self: flex-start;
    background: #00aac5;
    border-top-left-radius: 0;
    color: white;
}
.Comment.is-failed {
    background: #fedcdc;
    color: #4d4d4d;
}

.Comment-content {
    padding: 10px 15px 0;
}
.Comment-meta {
    font-size: 14px;
    line-height: 17px;
    padding: 0 15px 10px;
}
.Comment--helpee .Comment-meta {
    color: #858585;
}
.Comment.is-failed .Comment-meta {
    color: #b80404;
}

.Comment-vote {
    color: #00caf2;
    font-size: 13px;
    font-style: italic;
    padding-left: 5px;
}

.Comment-vote::before {
    opacity: 0.3;
}

.Comment-vote.has-voted::before {
    opacity: 1;
}

.Comment-solutionBox {
    font-size: 13px;
    font-style: italic;
    height: 30px;
    line-height: 30px;
}
.Comment-markSolution {
    background: #00859f;
    color: #99ebff;
    padding-left: 15px;
    padding-right: 15px;
}

.Comment-solution {
    border-top: 1px solid #99ebff; /* 50% */
    color: #00617a;
    margin-left: 15px;
    margin-right: 15px;
}
