.ProfileDetails {
    margin: 15px;
}
.ProfileDetails-avatar {
    background-image: url(ui-images/icon_gray@2x.png);
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.ProfileDetails-stats {
    color: #858585;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.ProfileDetails-statcounts {
    font-size: 32px;
}
