.ProfileDetails {
    margin: 15px;
}
.ProfileDetails-avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.ProfileDetails-stats {
    text-align: center;
    color: #858585;
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
}

.ProfileDetails-statcounts {
    font-size: 32px;
}
