.SettingsInfo {
    margin-left: 15px;
    margin-right: 15px;
}

.SettingsInfo-avatar {
    border-radius: 50%;
    height: 100px;
    margin: 15px 15px 0;
    width: 100px;
}

/* specify .SettingsInfo to override building blocks*/
.SettingsInfo .SettingsInfo-name {
    margin-top: 10px;
}

.is-helper .SettingsInfo-name {
    margin-top: 25px;
}

.SettingsInfo-achievements {
    color: #858585;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 5px;
}

.QuestionFilters {
    margin: 15px;
}

.QuestionFilters-label {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 15px 10px;
}

.QuestionFilters-description {
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 15px;
}
