.questionList {
  margin-bottom: 46px; /*  bottomToolbar height + border */
}

.ql-bottomToolbar {
  background: white;
  border-top: 1px solid #f4f4f4;
  bottom: 0px;
  color: #5f5f5f;
  font-size: 14px;
  height: 45px;
  position: fixed;
  width: 100%;
}

.ql-refresh {
  background: white;
  border: none;
  color: #5f5f5f;
  font-size: 24px;
  line-height: 45px;
  margin-left: 25px;
  position: absolute;
}

.ql-bottomToolbar span {
  display: block;
  line-height: 45px;
  text-align: center;
}

.ql-signIn {
  margin: 15px;
}

.ql-signIn-label {
  font-size: 16px;
  line-height: 20px;
  margin: 15px;
}

.ql-loadMore {
    background: #f5f5f5;
    color: #5f5f5f;
    display: block;
    font-size: 15px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.ql-loadMore::before {
    font-size: 20px;
    padding-right: 10px;
    position: relative;
    top: 3px;
}

.ActivePanel {
    height: calc(100% - 40px);
}

.NoQuestionsMessage {
    color: #4d4d4d;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    padding: 0 20px;
    text-align: center;
}
.NoQuestionsMessage > strong {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}
.NoQuestionsMessage > strong::before {
    background-image: url('ui-images/img_no_questions@2x.png');
    background-size: contain;
    content: '';
    display: block;
    height: 96px;
    margin: 0 auto 18px;
    width: 96px;
}
