.QuestionFooter {
    border-top: 1px solid #e7e7e7;
}
.QuestionField {
    background: none;
    border: 0;
    color: #000;
    font-size: 17px;
    max-height: 142px; /* 20px (padding top/bottom) + 122px (5 rows of text) */
    min-height: 44px; /* 20px (padding top/bottom) + 24px (1 row of text) */
    overflow: auto;
    padding: 10px 15px;
    outline: none;
    resize: none;
    width: 100%;
}
.QuestionField::-moz-placeholder {
    color: #858585;
    font-style: italic;
}
.QuestionSubmitButton {
    background: #fff;
    border-left: 1px solid #e7e7e7;
    cursor: pointer;
    font-size: 28px;
    height: auto;
    justify-content: flex-end;
    margin: 5px 0;
    position: relative;
    text-align: center;
    width: 64px;
}
.QuestionSubmitButton::before {
    line-height: 36px;
}
.StartAskingMessage {
    align-items: center;
    color: #4d4d4d;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.StartAskingMessage > span {
    display: block;
}
.StartAskingMessage::before {
    background-image: url('ui-images/img_start_asking@2x.png');
    background-size: contain;
    content: '';
    display: block;
    height: 96px;
    margin-bottom: 18px;
    width: 96px;
}
.QuestionThread-meta {
    font-size: 14px;
    padding: 2px 0;
}
.SignInLink {
    margin: 15px 15px 5px;
}

.QuestionThread {
    padding: 0 10px;
}

.QuestionThread-date {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
