.user-list ul {
    display: flex;
    justify-content: center;
}
.user-list li {
    margin: 1rem 0.5rem;
}
.user-list ul img {
    border-radius: 50%;
    display: block;
    height: 48px;
    width: 48px;
}
