<div class="message vbox">
  <div>{{ comment.content }}</div>
  {% if comment.updated %}
    <p class="hbox">
      <span class="comment-meta fit">{{ comment.created }} &ndash; {{ comment.author }}</span>
      {# Comments with a question property are not the original question #}
      {% if comment.question and not is_my_question %}
        <button class="js-vote vote" data-icon="feedback">{{ comment.num_helpful_votes }}</button>
      {% endif %}
    </p>
    {% if comment.id == solution_id %}
      <p class="is_solution">Solution ✓</p>
    {% else %}
      {% if is_my_question and user.username != comment.creator.username  %}
        <button class="js-solve">Mark question as resolved</button>
      {% endif %}
    {% endif %}
  {% else %}
    <span>Sending…</span>
  {% endif %}
</div>
