<form name="profile" id="profile" class="profile" method="get">
  <fieldset class="user {% if is_helper %}is-helper{% endif %}">
    {% if is_helper %}
      <img class="avatar" src="{{ user.avatar }}" alt="{{ user.display_name }}" title="{{ user.display_name }}">
    {% endif %}
    <p>
      <label for="display_name" class="visuallyhidden">Your Display Name</label>
      <input type="text" name="display_name" id="display_name" value="{{ user.display_name }}" required />
    </p>
    {% if is_helper %}
      <ul class="achievements">
        <li>
          <span class="count" data-icon="tick">{{ user.solution_count }}</span> Questions Answered
        </li>
        <li>
          <span class="count" data-icon="feedback">{{ user.helpfulness }}</span> Helpful Upvotes
        </li>
      </ul>
    {% endif %}
  </fieldset>

  {% if is_helper %}

    <fieldset>
      <header>
        <h2>My preferences</h2>
      </header>
      <section class="QuestionFilters">
        <p class="QuestionFilters-description">Too many questions? Use the settings below to narrow down the "Answer a Question" list.</p>

        <ul>
          <li>
            <label class="QuestionFilters-label" for="locale">Language</label>
            <div class="button" data-icon="expand">
              <select id="locale">
              {% for locale in locales %}
                <option {% if locale == user.locale %}selected="selected"{% endif %}>{{ locale }}</option>
              {% endfor %}
              </select>
            </div>
          </li>

          <li>
            <label class="QuestionFilters-label" for="handset_type">Device</label>
            <div class="button" data-icon="expand">
              <select id="handset_type"> {# DO I have to take care of the rest? #}
                {% if user.handset_type == "All" %}
                  <option selected="selected">All</option>
                {% endif %}
                {% for handset in handsets %}
                  <option {% if handset == user.handset_type %}selected="selected"{% endif %}>{{ handset }}</option>
                {% endfor %}
              </select>
            </div>
          </li>

          <li>
            <label class="QuestionFilters-label" for="operator">Operator</label>
            <div class="button" data-icon="expand">
              <select id="operator">
                {% if user.operator == "All" %}
                  <option selected="selected">All</option>
                {% endif %}
                {% for operator in operators %}
                  <option {% if operator == user.operator %}selected="selected"{% endif %}>{{ operator }}</option>
                {% endfor %}
              </select>
            </div>
          </li>
        </ul>
      </section>
    </fieldset>
  {% else %}
    <section>
      <header>
        <h2>Answer questions</h2>
      </header>
      <p>Sign in to answer support questions from the Mozilla community.</p>
      <a href="authentication.html" class="button-blue">Create account or sign in</a>
    </section>
  {% endif %}

</form>
