<form name="settings" id="settings" method="get">
  <p>
    <label for="username" class="visuallyhidden">username</label>
    <input type="text" name="username" id="username" value="username" />
    <button type="reset">Clear</button>
  </p>
  <p>Questions Answered</p>
  <p>Helpful Upvotes</p>
  <h2>Notifications</h2>
  <label for="new-comments">New Comments on Thread
    <input type="checkbox" id="new-comments" />
  </label>
  <label for="new-questions">New Question reminder
    <input type="checkbox" id="new-questions" />
  </label>
  <h2>Answer A Question Filter</h2>
  <p>The unanswered questions list will be filtered based on the setting below</p>
  <label for="locale">Language</label>
  <select id="locale">
    <option>None</option>
    <option>At time of event</option>
    <option>5 minutes before</option>
    <option>15 minutes before</option>
    <option>30 minutes before</option>
    <option>1 hour before</option>
    <option>2 hours before</option>
    <option>1 day before</option>
  </select>

  <label for="handset_type">Handset Type</label>
  <select id="handset_type">
    <option>None</option>
    <option>At time of event</option>
    <option>5 minutes before</option>
    <option>15 minutes before</option>
    <option>30 minutes before</option>
    <option>1 hour before</option>
    <option>2 hours before</option>
    <option>1 day before</option>
  </select>

  <label for="operator">Operator</label>
  <select id="operator">
    <option>None</option>
    <option>At time of event</option>
    <option>5 minutes before</option>
    <option>15 minutes before</option>
    <option>30 minutes before</option>
    <option>1 hour before</option>
    <option>2 hours before</option>
    <option>1 day before</option>
  </select>
</form>
