<form name="settings" id="settings" class="settings" method="get">
  <fieldset class="user">
    <p>
      <label for="username" class="visuallyhidden">username</label>
      <input type="text" name="username" id="username" value="username" />
      <button type="reset">Clear</button>
    </p>
    <ul class="achievements">
      <li><span class="count" data-icon="tick">10</span> Questions Answered</li>
      <li><span class="count" data-icon="feedback">7</span> Helpful Upvotes</li>
    </ul>
  </fieldset>

  <fieldset class="notifications">
    <h2>Notifications</h2>
    <ul>
      <li>
        <label for="new-comments" class="pack-switch">
          <input type="checkbox" id="new-comments" name="new-comments" />
          New Comments on Thread
          <span></span>
        </label>
      </li>
      <li>
        <label for="new-questions" class="pack-switch">
          <input type="checkbox" id="new-questions" name="new-questions" />
          <span>New Question reminder</span>
        </label>
      </li>
    </ul>
  </fieldset>

  <fieldset class="question-filters">
    <h2>Answer A Question Filter</h2>
    <section>
      <p>The unanswered questions list will be filtered based on the setting below.</p>
      <label for="locale">Language</label>

      <span class="button icon icon-dialog">
        <select id="locale">
          <option selected="selected">en-US</option>
          <option>fr</option>
          <option>de</option>
        </select>
      </span>

      <label for="handset_type">Handset Type</label>
      <select id="handset_type">
        <option selected="selected">All</option>
      </select>

      <label for="operator">Operator</label>
      <select id="operator">
        <option selected="selected">All</option>
      </select>
    </section>
  </fieldset>
</form>
