{% if results %}
  <section>
    {% for day, questions in results|groupby('updated_day') %}
      <h1 class="list-day">{{ day }}</h1>
      <ul>
      {% for question in questions %}
        {% include 'question.html' %}
      {% endfor %}
      </ul>
    {% endfor %}
  </section>
{% else %}
  {% if message %}
    <p class="margin-10">{{ message }}</p>
  {% else %}
    <section class="NoQuestionsMessage vbox fit">
      <strong>{{ _('No active questions') }}</strong>
      {{ _("Go to the New tab to answer some questions. We'll keep track of them here.") }}
    </section>
  {% endif %}
{% endif %}
