<h3 class="question-cat">
  {{ date_posted }} -
  {{ displayable_metadata.handset_type }}
  {{ displayable_metadata.os_version }}
  {% if (displayable_metadata.handset_type or displayable_metadata.os_version) and displayable_metadata.operator %}
  , {% endif %}
  {{ displayable_metadata.operator }}
</h3>
<select id="category_chooser" class="button-gray">
  {% for key, value in categories %}
    <option value="{{ key }}"
      {% if selected_category == key %}selected{% endif %}>
      {{ value }}
    </option>
  {% endfor %}
</select>
