<div class="QuestionThread-meta">
  {{ displayable_metadata.handset_type }}
  {{ displayable_metadata.os_version }}
  {%- if (displayable_metadata.handset_type or displayable_metadata.os_version) and displayable_metadata.operator -%}
    ,
    {# Notice the dashes in the start block above for whitespace control #}
  {% endif %}
  <span class="text-blue">{{ displayable_metadata.operator }}</span>
</div>
<h3 class="QuestionThread-date text-blue">
  {{ date_posted }}
</h3>

{# This <ul><li> is needed to get the right Building block styling for that button #}
<ul>
  <li>
    <div class="button" data-icon="forward">
      <select id="category_chooser">
      {% for key, value in categories %}
        <option value="{{ key }}"
          {% if selected_category == key %}selected{% endif %}>
          {{ value }}
        </option>
      {% endfor %}
      </select>
    </div>
  </li>
</ul>
